:root {
    --board-green: rgb(43, 226, 119);
    --board-red: rgb(230, 74, 74);
    --player-panel-bg: rgb(43, 214, 226);
    --computer-panel-bg: rgb(201, 131, 248);
    --winner-color: rgb(32, 212, 26);
    --loser-color: rgb(212, 56, 56);
    --tie-color: rgba(20, 20, 20, 0.733);
    --game-font: 'Mochiy Pop One', system-ui,'Courier', sans-serif;
    --rock-color: rgba(165, 42, 42, 0.747);
    --paper-color: rgb(179, 72, 179);
    --scissors-color: rgb(74, 183, 219);
    --score-board-color: #37393a;
    --div-shadow: rgba(0,0,0,0.2)
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: var(--game-font);
    color: var(--player-panel-bg) !important;
    

}

.title-span {
    box-shadow: 0px 3px 0px 0px var(--player-panel-bg);
}

h1::before {
    content: 'd';
    color: transparent
}

h1::after {
    content: 'd';
    color: transparent
}

.page-title {
    height: 5rem;
    width: 100%;
    border: none
}

.rock {
    color: var(--rock-color);
}

.paper {
    color: var(--paper-color)
}

.scissors {
    color: var(--scissors-color)
}

div.score-board {
    min-width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 700px) {
    div.score-board {
        width: 700px;
    }
}

.score-divider {
    display: absolute;
    width: 2rem;
    height: 2rem;
    right: 500px;
    top: 2rem;
}

.result {
    font-family: 'Mochiy Pop One', system-ui,'Courier', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

div.player-score-container {
    background-color: var(--player-panel-bg);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-right: 5px solid rgba(0,0,0,0.5);
}

div.computer-score-container {
    background-color: var(--computer-panel-bg);
    width: 100%
}

div.score-board > .player-score-container > p,
div.score-board > .computer-score-container > p {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Mochiy Pop One', system-ui,'Courier', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.round-winner-score {
    color: var(--board-green)
}

.round-loser-score {
    color: var(--board-red)
}

.round-winner {
    border: 1px solid var(--board-green);

}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem
}

@media (min-width: 700px) {
    main {
        width: 700px;
        margin: auto
    }
}

div {
    border: 1px solid inherit;
    box-shadow: 2px 2px 2px 2px var(--div-shadow)

};

.weapons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.weapon {
    margin: auto;
    width: 80%;
    height: 25%;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
    border: none
}

.weapon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.player-panel {
    background-color: var(--player-panel-bg)
}

/* A class toggleable by javascript to style the weapon choice panel*/
.player-choice-panel {
    background-color: var(--player-panel-bg);
}

.computer-panel {
    background-color: var(--computer-panel-bg);
}

/* A class toggleable by javascript to style compute choice of weapon panel*/
.computer-choice-panel {
    background-color: var(--computer-panel-bg);
}

/* An additional class toggled by javascript to add effect to the selected weapon */
.weapon-choice {
    box-shadow: 1px 1px 1px 1px rgb(0,0,0);
}

.choice-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice {
    width: 80%;
    height: 25%;
}

/* A class toggled by javascript for the user's chosen weapon imagery*/
.choice-img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.versus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* A class toggled by the button click event that declares a winner*/
.round-winner {
    border: 1px solid var(--board-green);
    width: 80%;
    height: 25%;
    margin-top: 1rem;
    background-color: var(--board-green)
}

.round-winner > img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;

}

.button {
    background-image: url('./pictures/fight.jpeg');
    background-size: 100%;
    
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;

}

/* A class toggled by javascript on the click button to represent the end of game*/
.reload {
    background-image: url('./pictures/reload.jpeg');
    background-size: 100%;
    
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

/* Following classes are toggleable by javascript for the declaration of final winner and loser*/
.winner {
    background-color: var(--winner-color);
}

.loser {
    background-color: var(--loser-color);
}

/*--------------------------------------------------------------------------------------------------*/
p {
    color: var(--tie-color)
}